<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<script data-ad-client="ca-pub-1926928551734188" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    {% block css%} {%endblock css%}
     <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.png" type="image/png">
        <title>Learn English, GK & Current Affairs</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css'%}">
        <link rel="stylesheet" href="{% static 'vendors/popup/magnific-popup.css'%}">
        <!-- main css -->
        <link rel="stylesheet" href="{% static 'css/style.css'%}">
        <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>
<body>
<!--================Header Menu Area =================-->
        <header class="header_area">
           	<div class="top_menu row m0">
           		<div class="container">
					<div class="float-left">
						<ul class="list header_social">
							<li><a href="https://www.facebook.com/amit.charaya.7"><i class="fa fa-facebook"></i></a></li>

							<li><a href="https://twitter.com/charayaamit"><i class="fa fa-twitter"></i></a></li>

						</ul>
					</div>
					<div class="float-right">
						<a class="dn_btn" href="tel:+919988478701">+9199884-78701</a>
                        {% if user.is_authenticated %}
						  <span class="title_color text-lg-left">  Welcome {{user.first_name}}</span>
                          {% endif %}
					</div>
           		</div>
           	</div>
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href=""><img src=" {% static 'img/logo.png'  %}" alt="LearnGK"></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                {% for menu in menus%}
                                    <li class="nav-item active"><a class="nav-link" href="{% url 'menu:category' menu.id %}">{{menu}}</a></li>
                                {% endfor %}
                                <li class="nav-item"><a class="nav-link" href="/contact/">Contact</a></li>
                                {% if user.is_authenticated %}

                                   
                                    <li class="nav-item"><a class="nav-link" href="/logout/"> logout</a></li>
                                {% else %}


                                <li class="nav-item"><a class="nav-link" href="/login/">Login</a></li>
                                {% endif%}
							</ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
        <!--================Header Menu Area =================-->





{% block content %}{% endblock content %}

<!--================ start footer Area  =================-->
        <footer class="footer-area p_60120">
            <div class="container">

                <div class="row footer-bottom d-flex justify-content-between align-items-center">
                    <p class="col-lg-8 col-md-8 footer-text m-0">Develpoed by Amit Kumar +9199884-78701</p>
                    <p class="col-lg-8 col-md-8 footer-text m-0"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                </div>
            </div>
        </footer>
		<!--================ End footer Area  =================-->



    <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="{%  static 'js/jquery-3.3.1.min.js' %}"></script>
        <script src="{%  static 'js/popper.js' %}"></script>
        <script src="{%  static 'js/bootstrap.min.js' %}"></script>
        <script src="{%  static 'js/stellar.js' %}"></script>
        <script src="{%  static 'vendors/lightbox/simpleLightbox.min.js' %}"></script>
        <script src="{%  static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
        <script src="{%  static 'vendors/isotope/imagesloaded.pkgd.min.js' %}"></script>
        <script src="{%  static 'vendors/isotope/isotope.pkgd.min.js' %}"></script>
        <script src="{%  static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
        <script src="{%  static 'vendors/popup/jquery.magnific-popup.min.js' %}"></script>
        <script src="{%  static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{%  static 'vendors/counter-up/jquery.waypoints.min.js' %}"></script>
        <script src="{%  static 'vendors/counter-up/jquery.counterup.js' %}"></script>
        <script src="{%  static 'js/mail-script.js' %}"></script>

        <script src="{% static 'js/jquery.validate.min.js'%}"></script>
        <script src="{% static 'js/contact.js'%}"></script>
        <script src="{%  static 'js/theme.js' %}"></script>
</body>
</html>
