{%  extends 'menu/base.html' %}

{% load static %}
{% block content %}

        <!--================Home Banner Area =================-->
        <section class="home_banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h1>VISIT FOR MCQ</h1>
						<p>Want to succeed in Competitive exams. Come here and learn GK and current affairs</p>
						<a class="main_btn" href="/GK/">Get Today's Capsule</a>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Finance Area =================-->
        <section class="finance_area">
        	<div class="container">
        		<div class="finance_inner row">
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-rocket"></i>
        						</div>
        						<div class="media-body">
        							<h5>GK & <br />Current afairs</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-earth"></i>
        						</div>
        						<div class="media-body">
        							<h5> Geography</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-smile"></i>
        						</div>
        						<div class="media-body">
        							<h5>Science </h5>
        						</div>
        					</div>
        				</div>
        			</div>
        			<div class="col-lg-3 col-sm-6">
        				<div class="finance_item">
        					<div class="media">
        						<div class="d-flex">
        							<i class="lnr lnr-tag"></i>
        						</div>
        						<div class="media-body">
        							<h5>History & <br />Poltics</h5>
        						</div>
        					</div>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        <!--================End Finance Area =================-->
        


        

        

        
        
        {% endblock %}

    </body>
</html>
