<table>
<thead>
<tr><th>id</th>
<th>haeding</th>
<th>detail</th>
<th>subcategory</th></tr>
</thead>
<tr><td>3</td>
<td>shortcuts</td>
<td><table class="table table-bordered table-sm table-striped">
	<thead class="thead-dark">
		<tr>
			<th colspan="2">Shortcut</th>
			<th>Action</th>
			<th>Menu</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Ctrl+A</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>A</div>
			</div>
			</td>
			<td>Select All</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+B</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>B</div>
			</div>
			</td>
			<td>Bold</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Font Style<em> </em>Bold</td>
		</tr>
		<tr>
			<td>Ctrl+C</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>C</div>
			</div>
			</td>
			<td>Copy</td>
			<td>Edit<em> </em>Copy</td>
		</tr>
		<tr>
			<td>Ctrl+D</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>D</div>
			</div>
			</td>
			<td>Fill Down</td>
			<td>Edit<em> </em>Fill<em> </em>Down</td>
		</tr>
		<tr>
			<td>Ctrl+F</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F</div>
			</div>
			</td>
			<td>Find</td>
			<td>Edit<em> </em>Find</td>
		</tr>
		<tr>
			<td>Ctrl+G</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>G</div>
			</div>
			</td>
			<td>Goto</td>
			<td>Edit<em> </em>Goto</td>
		</tr>
		<tr>
			<td>Ctrl+H</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>H</div>
			</div>
			</td>
			<td>Replace</td>
			<td>Edit<em> </em>Replace</td>
		</tr>
		<tr>
			<td>Ctrl+I</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>I</div>
			</div>
			</td>
			<td>Italic</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Font Style<em> </em>Italic</td>
		</tr>
		<tr>
			<td>Ctrl+K</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>K</div>
			</div>
			</td>
			<td>Insert Hyperlink</td>
			<td>Insert<em> </em>Hyperlink</td>
		</tr>
		<tr>
			<td>Ctrl+N</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>N</div>
			</div>
			</td>
			<td>New Workbook</td>
			<td>File<em> </em>New</td>
		</tr>
		<tr>
			<td>Ctrl+O</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>O</div>
			</div>
			</td>
			<td>Open</td>
			<td>File<em> </em>Open</td>
		</tr>
		<tr>
			<td>Ctrl+P</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>P</div>
			</div>
			</td>
			<td>Print</td>
			<td>File<em> </em>Print</td>
		</tr>
		<tr>
			<td>Ctrl+R</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>R</div>
			</div>
			</td>
			<td>Fill Right</td>
			<td>Edit<em> </em>Fill Right</td>
		</tr>
		<tr>
			<td>Ctrl+S</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>S</div>
			</div>
			</td>
			<td>Save</td>
			<td>File<em> </em>Save</td>
		</tr>
		<tr>
			<td>Ctrl+U</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>U</div>
			</div>
			</td>
			<td>Underline</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Underline<em> </em>Single</td>
		</tr>
		<tr>
			<td>Ctrl+V</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>V</div>
			</div>
			</td>
			<td>Paste</td>
			<td>Edit<em> </em>Paste</td>
		</tr>
		<tr>
			<td>Ctrl W</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>W</div>
			</div>
			</td>
			<td>Close</td>
			<td>File<em> </em>Close</td>
		</tr>
		<tr>
			<td>Ctrl+X</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>X</div>
			</div>
			</td>
			<td>Cut</td>
			<td>Edit<em> </em>Cut</td>
		</tr>
		<tr>
			<td>Ctrl+Y</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Y</div>
			</div>
			</td>
			<td>Repeat</td>
			<td>Edit<em> </em>Repeat</td>
		</tr>
		<tr>
			<td>Ctrl+Z</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Z</div>
			</div>
			</td>
			<td>Undo</td>
			<td>Edit<em> </em>Undo</td>
		</tr>
		<tr>
			<td>F1</td>
			<td>
			<div>
			<div>F1</div>
			</div>
			</td>
			<td>Help</td>
			<td>Help<em> </em>Contents and Index</td>
		</tr>
		<tr>
			<td>F2</td>
			<td>
			<div>
			<div>F2</div>
			</div>
			</td>
			<td>Edit</td>
			<td>None</td>
		</tr>
		<tr>
			<td>F3</td>
			<td>
			<div>
			<div>F3</div>
			</div>
			</td>
			<td>Paste Name</td>
			<td>Insert<em> </em>Name<em> </em>Paste</td>
		</tr>
		<tr>
			<td>F4</td>
			<td>
			<div>
			<div>F4</div>
			</div>
			</td>
			<td>Repeat last action</td>
			<td>Edit<em> </em>Repeat. Works while not in Edit mode.</td>
		</tr>
		<tr>
			<td>F4</td>
			<td>
			<div>
			<div>F4</div>
			</div>
			</td>
			<td>While typing a formula<em> </em>switch between absolute/relative refs</td>
			<td>None</td>
		</tr>
		<tr>
			<td>F5</td>
			<td>
			<div>
			<div>F5</div>
			</div>
			</td>
			<td>Goto</td>
			<td>Edit<em> </em>Goto</td>
		</tr>
		<tr>
			<td>F6</td>
			<td>
			<div>
			<div>F6</div>
			</div>
			</td>
			<td>Next Pane</td>
			<td>None</td>
		</tr>
		<tr>
			<td>F7</td>
			<td>
			<div>
			<div>F7</div>
			</div>
			</td>
			<td>Spell check</td>
			<td>Tools<em> </em>Spelling</td>
		</tr>
		<tr>
			<td>F8</td>
			<td>
			<div>
			<div>F8</div>
			</div>
			</td>
			<td>Extend mode</td>
			<td>None</td>
		</tr>
		<tr>
			<td>F9</td>
			<td>
			<div>
			<div>F9</div>
			</div>
			</td>
			<td>Recalculate all workbooks</td>
			<td>Tools<em> </em>Options<em> </em>Calculation<em> </em>Calc,Now</td>
		</tr>
		<tr>
			<td>F10</td>
			<td>
			<div>
			<div>F10</div>
			</div>
			</td>
			<td>Activate Menubar</td>
			<td>N/A</td>
		</tr>
		<tr>
			<td>F11</td>
			<td>
			<div>
			<div>F11</div>
			</div>
			</td>
			<td>New Chart</td>
			<td>Insert<em> </em>Chart</td>
		</tr>
		<tr>
			<td>F12</td>
			<td>
			<div>
			<div>F12</div>
			</div>
			</td>
			<td>Save As</td>
			<td>File<em> </em>Save As</td>
		</tr>
		<tr>
			<td>Ctrl+:</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>:</div>
			</div>
			</td>
			<td>Insert Current Time</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+;</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>;</div>
			</div>
			</td>
			<td>Insert Current Date</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+&quot;</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>&quot;</div>
			</div>
			</td>
			<td>Copy Value from Cell Above</td>
			<td>Edit<em> </em>Paste Special<em> </em>Value</td>
		</tr>
		<tr>
			<td>Ctrl+&#39;</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>&#39;</div>
			</div>
			</td>
			<td>Copy Fromula from Cell Above</td>
			<td>Edit<em> </em>Copy</td>
		</tr>
		<tr>
			<td>Shift</td>
			<td>
			<div>
			<div>Shift</div>
			</div>
			</td>
			<td>Hold down shift for additional functions in Excel&#39;s menu</td>
			<td>none</td>
		</tr>
		<tr>
			<td>Shift+F1</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F1</div>
			</div>
			</td>
			<td>What&#39;s This?</td>
			<td>Help<em> </em>What&#39;s This?</td>
		</tr>
		<tr>
			<td>Shift+F2</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F2</div>
			</div>
			</td>
			<td>Edit cell comment</td>
			<td>Insert<em> </em>Edit Comments</td>
		</tr>
		<tr>
			<td>Shift+F3</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F3</div>
			</div>
			</td>
			<td>Paste function into formula</td>
			<td>Insert<em> </em>Function</td>
		</tr>
		<tr>
			<td>Shift+F4</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F4</div>
			</div>
			</td>
			<td>Find Next</td>
			<td>Edit<em> </em>Find<em> </em>Find Next</td>
		</tr>
		<tr>
			<td>Shift+F5</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F5</div>
			</div>
			</td>
			<td>Find</td>
			<td>Edit<em> </em>Find<em> </em>Find Next</td>
		</tr>
		<tr>
			<td>Shift+F6</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F6</div>
			</div>
			</td>
			<td>Previous Pane</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+F8</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F8</div>
			</div>
			</td>
			<td>Add to selection</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+F9</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F9</div>
			</div>
			</td>
			<td>Calculate active worksheet</td>
			<td>Calc Sheet</td>
		</tr>
		<tr>
			<td>Shift+F10</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F10</div>
			</div>
			</td>
			<td>Display shortcut menu</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+F11</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F11</div>
			</div>
			</td>
			<td>New worksheet</td>
			<td>Insert<em> </em>Worksheet</td>
		</tr>
		<tr>
			<td>Shift+F12</td>
			<td>
			<div>
			<div>Shift</div>

			<div>F12</div>
			</div>
			</td>
			<td>Save</td>
			<td>File<em> </em>Save</td>
		</tr>
		<tr>
			<td>Ctrl+F3</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F3</div>
			</div>
			</td>
			<td>Define name</td>
			<td>Insert<em> </em>Names<em> </em>Define</td>
		</tr>
		<tr>
			<td>Ctrl+F4</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F4</div>
			</div>
			</td>
			<td>Close</td>
			<td>File<em> </em>Close</td>
		</tr>
		<tr>
			<td>Ctrl+F5</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F5</div>
			</div>
			</td>
			<td>XL<em> </em>Restore window size</td>
			<td>Restore</td>
		</tr>
		<tr>
			<td>Ctrl+F6</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F6</div>
			</div>
			</td>
			<td>Next workbook window</td>
			<td>Window<em> </em>...</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+F6</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>F6</div>
			</div>
			</td>
			<td>Previous workbook window</td>
			<td>Window<em> </em>...</td>
		</tr>
		<tr>
			<td>Ctrl+F7</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F7</div>
			</div>
			</td>
			<td>Move window</td>
			<td>XL<em> </em>Move</td>
		</tr>
		<tr>
			<td>Ctrl+F8</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F8</div>
			</div>
			</td>
			<td>Resize window</td>
			<td>XL<em> </em>Size</td>
		</tr>
		<tr>
			<td>Ctrl+F9</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F9</div>
			</div>
			</td>
			<td>Minimize workbook</td>
			<td>XL<em> </em>Minimize</td>
		</tr>
		<tr>
			<td>Ctrl+F10</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F10</div>
			</div>
			</td>
			<td>Maximize or restore window</td>
			<td>XL<em> </em>Maximize</td>
		</tr>
		<tr>
			<td>Ctrl+F11</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F11</div>
			</div>
			</td>
			<td>Inset 4.0 Macro sheet</td>
			<td>None in Excel 97. In versions prior to 97 - Insert<em> </em>Macro<em> </em>4.0 Macro</td>
		</tr>
		<tr>
			<td>Ctrl+F12</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>F12</div>
			</div>
			</td>
			<td>File Open</td>
			<td>File<em> </em>Open</td>
		</tr>
		<tr>
			<td>Alt+F1</td>
			<td>
			<div>
			<div>Alt</div>

			<div>F1</div>
			</div>
			</td>
			<td>Insert Chart</td>
			<td>Insert<em> </em>Chart...</td>
		</tr>
		<tr>
			<td>Alt+F2</td>
			<td>
			<div>
			<div>Alt</div>

			<div>F2</div>
			</div>
			</td>
			<td>Save As</td>
			<td>File<em> </em>Save As</td>
		</tr>
		<tr>
			<td>Alt+F4</td>
			<td>
			<div>
			<div>Alt</div>

			<div>F4</div>
			</div>
			</td>
			<td>Exit</td>
			<td>File<em> </em>Exit</td>
		</tr>
		<tr>
			<td>Alt+F8</td>
			<td>
			<div>
			<div>Alt</div>

			<div>F8</div>
			</div>
			</td>
			<td>Macro dialog box</td>
			<td>Tools<em> </em>Macro<em> </em>Macros in Excel 97 Tools<em> </em>Macros - in earlier versions</td>
		</tr>
		<tr>
			<td>Alt+F11</td>
			<td>
			<div>
			<div>Alt</div>

			<div>F11</div>
			</div>
			</td>
			<td>Visual Basic Editor</td>
			<td>Tools<em> </em>Macro<em> </em>Visual Basic Editor</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+F3</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>F3</div>
			</div>
			</td>
			<td>Create name by using names of row and column labels</td>
			<td>Insert<em> </em>Name<em> </em>Create</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+F6</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>F6</div>
			</div>
			</td>
			<td>Previous Window</td>
			<td>Window<em> </em>...</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+F12</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>F12</div>
			</div>
			</td>
			<td>Print</td>
			<td>File<em> </em>Print</td>
		</tr>
		<tr>
			<td>Alt+Shift+F1</td>
			<td>
			<div>
			<div>Alt</div>

			<div>Shift</div>

			<div>F1</div>
			</div>
			</td>
			<td>New worksheet</td>
			<td>Insert<em> </em>Worksheet</td>
		</tr>
		<tr>
			<td>Alt+Shift+F2</td>
			<td>
			<div>
			<div>Alt</div>

			<div>Shift</div>

			<div>F2</div>
			</div>
			</td>
			<td>Save</td>
			<td>File<em> </em>Save</td>
		</tr>
		<tr>
			<td>Alt+=</td>
			<td>
			<div>
			<div>Alt</div>

			<div>=</div>
			</div>
			</td>
			<td>AutoSum</td>
			<td>No direct equivalent</td>
		</tr>
		<tr>
			<td>Ctrl+`</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>`</div>
			</div>
			</td>
			<td>Toggle Value/Formula display</td>
			<td>Tools<em> </em>Options<em> </em>View<em> </em>Formulas</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+A</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>A</div>
			</div>
			</td>
			<td>Insert argument names into formula</td>
			<td>No direct equivalent</td>
		</tr>
		<tr>
			<td>Alt+Down arrow</td>
			<td>
			<div>
			<div>Alt</div>

			<div>&nbsp;</div>
			</div>
			</td>
			<td>Display AutoComplete list</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Alt+&#39;</td>
			<td>
			<div>
			<div>Alt</div>

			<div>&#39;</div>
			</div>
			</td>
			<td>Format Style dialog box</td>
			<td>Format<em> </em>Style</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+~</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>~</div>
			</div>
			</td>
			<td>General format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>General</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+!</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>!</div>
			</div>
			</td>
			<td>Comma format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>Number</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+@</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>@</div>
			</div>
			</td>
			<td>Time format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>Time</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+#</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>#</div>
			</div>
			</td>
			<td>Date format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>Date</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+$</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>$</div>
			</div>
			</td>
			<td>Currency format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>Currency</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+%</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>%</div>
			</div>
			</td>
			<td>Percent format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category<em> </em>Percentage</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+^</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>^</div>
			</div>
			</td>
			<td>Exponential format</td>
			<td>Format<em> </em>Cells<em> </em>Number<em> </em>Category,</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+&amp;</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>&amp;</div>
			</div>
			</td>
			<td>Place outline border around selected cells</td>
			<td>Format<em> </em>Cells<em> </em>Border</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+_</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>_</div>
			</div>
			</td>
			<td>Remove outline border</td>
			<td>Format<em> </em>Cells<em> </em>Border</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+*</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>*</div>
			</div>
			</td>
			<td>Select current region</td>
			<td>Edit<em> </em>Goto<em> </em>Special<em> </em>Current Region</td>
		</tr>
		<tr>
			<td>Ctrl++</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>+</div>
			</div>
			</td>
			<td>Insert</td>
			<td>Insert<em> </em>(Rows, Columns, or Cells) Depends on selection</td>
		</tr>
		<tr>
			<td>Ctrl+-</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>-</div>
			</div>
			</td>
			<td>Delete</td>
			<td>Delete<em> </em>(Rows, Columns, or Cells) Depends on selection</td>
		</tr>
		<tr>
			<td>Ctrl+1</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>1</div>
			</div>
			</td>
			<td>Format cells dialog box</td>
			<td>Format<em> </em>Cells</td>
		</tr>
		<tr>
			<td>Ctrl+2</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>2</div>
			</div>
			</td>
			<td>Bold</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Font Style<em> </em>Bold</td>
		</tr>
		<tr>
			<td>Ctrl+3</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>3</div>
			</div>
			</td>
			<td>Italic</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Font Style<em> </em>Italic</td>
		</tr>
		<tr>
			<td>Ctrl+4</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>4</div>
			</div>
			</td>
			<td>Underline</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Font Style<em> </em>Underline</td>
		</tr>
		<tr>
			<td>Ctrl+5</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>5</div>
			</div>
			</td>
			<td>Strikethrough</td>
			<td>Format<em> </em>Cells<em> </em>Font<em> </em>Effects<em> </em>Strikethrough</td>
		</tr>
		<tr>
			<td>Ctrl+6</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>6</div>
			</div>
			</td>
			<td>Show/Hide objects</td>
			<td>Tools<em> </em>Options<em> </em>View<em> </em>Objects<em> </em>Show All/Hide</td>
		</tr>
		<tr>
			<td>Ctrl+7</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>7</div>
			</div>
			</td>
			<td>Show/Hide Standard toolbar</td>
			<td>View<em> </em>Toolbars<em> </em>Stardard</td>
		</tr>
		<tr>
			<td>Ctrl+8</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>8</div>
			</div>
			</td>
			<td>Toggle Outline symbols</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+9</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>9</div>
			</div>
			</td>
			<td>Hide rows</td>
			<td>Format<em> </em>Row<em> </em>Hide</td>
		</tr>
		<tr>
			<td>Ctrl+0</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>0</div>
			</div>
			</td>
			<td>Hide columns</td>
			<td>Format<em> </em>Column<em> </em>Hide</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+(</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>(</div>
			</div>
			</td>
			<td>Unhide rows</td>
			<td>Format<em> </em>Row<em> </em>Unhide</td>
		</tr>
		<tr>
			<td>Ctrl+Shift+)</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Shift</div>

			<div>)</div>
			</div>
			</td>
			<td>Unhide columns</td>
			<td>Format<em> </em>Column<em> </em>Unhide</td>
		</tr>
		<tr>
			<td>Alt or F10</td>
			<td>
			<div>
			<div>Alt</div>
			&nbsp;/&nbsp;

			<div>F10</div>
			</div>
			</td>
			<td>Activate the menu</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+Tab</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Tab</div>
			</div>
			</td>
			<td>In toolbar: next toolbar</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Ctrl+Tab</td>
			<td>
			<div>
			<div>Ctrl</div>

			<div>Tab</div>
			</div>
			</td>
			<td>In a workbook: activate next workbook</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+Tab</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>Tab</div>
			</div>
			</td>
			<td>In toolbar: previous toolbar</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+Tab</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>Tab</div>
			</div>
			</td>
			<td>In a workbook: activate previous workbook</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Tab</td>
			<td>
			<div>
			<div>Tab</div>
			</div>
			</td>
			<td>Next tool</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+Tab</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Tab</div>
			</div>
			</td>
			<td>Previous tool</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Enter</td>
			<td>
			<div>
			<div>Enter</div>
			</div>
			</td>
			<td>Do the command</td>
			<td>None</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+F</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>F</div>
			</div>
			</td>
			<td>Font Drop Down List</td>
			<td>Format<em> </em>Cells<em> </em>Font</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+F+F</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>F</div>

			<div>F</div>
			</div>
			</td>
			<td>Font tab of Format Cell Dialog box</td>
			<td>Format<em> </em>Cells<em> </em>Font</td>
		</tr>
		<tr>
			<td>Shift+Ctrl+P</td>
			<td>
			<div>
			<div>Shift</div>

			<div>Ctrl</div>

			<div>P</div>
			</div>
			</td>
			<td>Point size Drop Down List</td>
			<td>Format<em> </em>Cells<em> </em>Font</td>
		</tr>
	</tbody>
</table></td>
<td>4</td></tr>
<tr><td>2</td>
<td>Insert Pivot Table</td>
<td><p><strong>Pivot tables</strong> are one of <strong>Excel</strong>&#39;s most powerful features. A pivot table allows you to extract the significance from a large, detailed data set.</p>

<p>Our data set consists of 213 records and 6 fields. Order ID, Product, Category, Amount, Date and Country.</p>

<p><img alt="pivot table data" src="/../../static/img/excel/pivot-table-data.png" style="height:232px; width:604px" /></p>

<h3>Insert a Pivot Table</h3>

<p>To insert a <strong>pivot table</strong>, execute the following steps.</p>

<p>1. Click any single cell inside the data set.</p>

<p>2. On the Insert tab, in the Tables group, click PivotTable.</p>

<p>&nbsp;</p>

<p><img alt="pivot table" src="/../../static/img/excel/insert-pivot-table.png" /></p>

<p>The following dialog box appears. Excel automatically selects the data for you. The default location for a new pivot table is New Worksheet.</p>

<p>3. Click OK</p>

<p><img alt="pivot table create dialog" src="/../../static/img/excel/create-pivot-table-dialog-box.png" style="height:346px; width:387px" /></p>

<h3>Drag fields</h3>

<p>The <strong>PivotTable Fields pane</strong> appears. To get the total amount exported of each product, drag the following fields to the different areas.</p>

<p>1. Product field to the Rows area.</p>

<p>2. Amount field to the Values area.</p>

<p>3. Country field to the Filters area</p>

<p><img alt="pivot table image" src="/../../static/img/excel/drag-fields-areas.png" style="height:474px; width:261px" /></p>

<p>Below you can find the pivot table. Bananas are our main export product. That&#39;s how easy pivot tables can be!</p>

<p><img alt="pivot table image" src="/../../static/img/excel/pivot-table.png" style="height:261px; width:287px" /></p>

<p>&nbsp;</p></td>
<td>3</td></tr>
</table>