<!doctype html>
{%extends 'menu/base.html'%}
{%  load static %}

{% block content %}
        
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Register</h2>
						<div class="page_link">
							<a href="index.html">Home</a>
							<a href="contact.html">Register</a>
						</div>
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->




        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">

                <div class="row">

                    <div class="col-lg-9 ">
                        <!--================Contact Success and Error message Area =================-->


                        <form class="row contact_form" action="/register/" method="post" id="contactForm" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-4 text-right"></div>
                            <div class="col-md-6 text-right">
                                    <span class="col-md-6 text-left">{% for message in messages %}
                                        {{ message }}
                                        {% endfor %}</span>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter Password">

                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="password2" name="password2" placeholder="Repeat Password">
                                </div>
                                <div class="col-md-12 text-right">
                                    <span class="col-md-12">Already Registered <a href="/login/" >Login here</a></span>

                                <button type="submit" value="submit" class="btn submit_btn">Register</button>


                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->
        


        
        

{% endblock %}
